<form [formGroup]="form">
  <div>
    <ul>
      <li>
        <input type="checkbox" aria-label="checkbox"> checkbox
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <input type="radio" aria-label="radio"> radio
      </li>
    </ul>
  </div>
  <div>
    email
    <input type="email" aria-label="'text'">
  </div>
  <div>
    file
    <input type="file" aria-label="'text'">
  </div>
  <div>
    password
    <input type="password" aria-label="'password'">
  </div>

  <div>
    arabic only
    <input type="text" aria-label="'password'">
  </div>

  <div>
    arabic and number
    <input type="text" aria-label="'password'">
  </div>
  <div>
    arabic only
    <input type="text" aria-label="'password'">
  </div>

  <div>
    english and number
    <input type="text" aria-label="'password'">
  </div>
  <div>
    english only
    <input type="text" aria-label="'password'">
  </div>

  <div>
    float
    <input type="text" aria-label="'password'">
  </div>
  <div>
    percentage
    <input type="text" aria-label="'password'">
  </div>

  <div>
    number
    <input type="number" aria-label="'password'">
  </div>

</form>
